<header>
  <div class="container">
    <a routerLink="/">{{ appTitle }}</a>
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/pokemon">Pokemon</a></li>
        <li><a routerLink="/fire">Firebase</a></li>
        <li><a routerLink="/coursetro">Coursetro</a></li>
        <li><a routerLink="/jia">Jia</a></li>
        <li><a routerLink="/shirts">Shirts</a></li>
        <li><a routerLink="/items">Items</a></li>
        <li><a routerLink="/contact">Contact us</a></li>
      </ul>
    </nav>
  </div>
</header>
